<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Today's Spread</title>
    <link href="./css/styles.css" rel="stylesheet">
</head>

<style>
    body {
        text-align: center;
    }

    button {
        width: 60%;
        height: 15vh;
        font-size: x-large;
    }
</style>

<body>

    <div>
        <h1>Ready to Grind?</h1>

        <form name="form" action='/workout' method="GET">
            <button type="submit">Work Out</button>
        </form>
        <!-- <form name="form" action='/workout' method="GET">
            <button style="margin-top: 20px;" type="submit">Update Moveset</button>
        </form> -->
    </div>
    


</body>

</html>